<div class="flex gap-4 py-4">
    <div class="p-5 m-auto md:w-100 border border-dashed rounded-xl mb-4 h-fit">
        <div class="w-full md:min-w-64 flex flex-col items-center">
            <div class="pr-0 md:pr-5 w-full max-w-64 min-h-64 overflow-hidden relative">
                <app-portrait [disabled]="form.disabled" [mode]="'UPLOAD'" [title]="'បញ្ចូលរូបភាព'" [src]="src"
                    [index]="'profile'" (srcChange)='srcChange($event)'></app-portrait>
            </div>
        </div>
    </div>
    <form class="md-form-field-appearance-outline w-full" [formGroup]="form">

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>ឈ្មោះ</mat-label>
            <input id="name" matInput [formControlName]="'name'">
            <mat-error *ngIf="form.get('name').hasError('required')">
                Full name is required
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>លេខទូរស័ព្ទ</mat-label>
            <input id="phone" matInput [formControlName]="'phone'" class="siereap">
            <mat-error *ngIf="form.get('phone').hasError('required')">
                Phone address is required
            </mat-error>
            <mat-error *ngIf="form.get('phone').hasError('phone')">
                Please enter a valid phone address
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>អុីម៉ែល</mat-label>
            <input id="email" matInput [formControlName]="'email'" class="siereap">
            <mat-error *ngIf="form.get('email').hasError('required')">
                Email address is required
            </mat-error>
            <mat-error *ngIf="form.get('email').hasError('email')">
                Please enter a valid email address
            </mat-error>
        </mat-form-field>

        <div class="flex justify-end">
            <button class="helpers-mat-button-md min-w-24" [disabled]="form.invalid  || form.disabled"
                (click)="submit()" mat-flat-button>
                @if(form.disabled) {
                <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                }
                @else {
                <span>កែប្រែ</span>
                }
            </button>
        </div>
    </form>
</div>
