<div class="profile-section relative">
    <div class="profiles-header">
        <!-- do not do in this  -->
    </div>
    <div class="profile-body absolute inset-0 p-4">
        <div class="profile-content">
            <mat-tab-group>
                <mat-tab label="ព័ត៌មានទូទៅ">
                    <profile-overview></profile-overview>
                </mat-tab>
                <mat-tab label="ផ្លាស់ប្តូរពាក្យសម្ងាត់">
                    <profile-change-password></profile-change-password>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
