.profile-section {
    width: 100%;
    height: calc(100dvh - 3.75rem);
    overflow: hidden;

    .profile-header {
        width: 100%;
        background-color: #1470ad;
        min-height: 12rem;
        max-height: 12rem;
    }

    .profile-body {
        width: 100%;
        height: calc(100dvh - 3.75rem);
        overflow: hidden;

        .profile-content {
            width: 100%;
            max-height: calc(100dvh - 5.75rem);
            overflow: hidden;
        }
    }
}

::ng-deep .profile-section {
    .mat-mdc-tab {
        flex-grow: 1 !important;
    }
}
