<div class="p-4">
    <p class="text-2xl mb-4">ផ្លាស់ប្តូរលេខសម្ងាត់របស់អ្នក</p>
    <form [formGroup]="passwordForm" class="md-form-field-appearance-outline">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>ពាក្យសម្ងាត់ចាស់</mat-label>
            <input matInput type="password" [formControlName]="'current_password'" #currentPasswordField>
            <button mat-icon-button type="button"
                (click)="currentPasswordField.type === 'password' ? currentPasswordField.type = 'text' : currentPasswordField.type = 'password'"
                matSuffix>
                <mat-icon class="icon-size-5" *ngIf="currentPasswordField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon class="icon-size-5" *ngIf="currentPasswordField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
            </button>
            <mat-error>
                សូមបញ្ចូលពាក្យសម្ងាត់ចាស់
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>ពាក្យសម្ងាត់ថ្មី</mat-label>
            <input matInput type="password" [formControlName]="'new_password'" #newPasswordField>
            <button mat-icon-button type="button"
                (click)="newPasswordField.type === 'password' ? newPasswordField.type = 'text' : newPasswordField.type = 'password'"
                matSuffix>
                <mat-icon class="icon-size-5" *ngIf="newPasswordField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon class="icon-size-5" *ngIf="newPasswordField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
            </button>
            <mat-error>
                សូមបញ្ចូលពាក្យសម្ងាត់ថ្មី
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>បញ្ជាក់ពាក្យសម្ងាត់ថ្មី</mat-label>
            <input matInput type="password" [formControlName]="'confirm_password'" #confirmPasswordField>
            <button mat-icon-button type="button"
                (click)="confirmPasswordField.type === 'password' ? confirmPasswordField.type = 'text' : confirmPasswordField.type = 'password'"
                matSuffix>
                <mat-icon class="icon-size-5" *ngIf="confirmPasswordField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon class="icon-size-5" *ngIf="confirmPasswordField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
            </button>
            <mat-error>
                សូមបញ្ចូលបញ្ជាក់ពាក្យសម្ងាត់ថ្មី
            </mat-error>
        </mat-form-field>

        <div class="flex justify-end">
            <button class="helpers-mat-button-md min-w-24" [disabled]="passwordForm.invalid  || passwordForm.disabled"
                (click)="submit()" mat-flat-button>
                @if(passwordForm.disabled) {
                <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                }
                @else {
                <span>កែប្រែ</span>
                }
            </button>
        </div>
    </form>
</div>
