<div mat-dialog-title>
    <span class="text-xl">លេខវិក្កយបត្រ #{{data?.receipt_number}}</span>
</div>
<mat-dialog-content class="border-t">
    <div class="w-full py-2 sticky left-0">
        <div class="w-full flex justify-between">
            <p>អ្នកគិតលុយ៖ {{data?.cashier?.name}}</p>
            <p>បង្កើតនៅ៖ {{data?.ordered_at | date: 'dd-MMM-yyy hh:mm a'}}</p>
        </div>
        <div class="w-full flex justify-between">
            <p>&nbsp;</p>
            <b>
                <p>សរុប៖ {{data?.total_price | number}} រៀល</p>
            </b>
        </div>
    </div>
    <div class="data-dialog">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef> ផលិតផល </th>
                <td mat-cell *matCellDef="let row"> {{row?.product?.name}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef class="text-right"> តម្លៃ</th>
                <td mat-cell *matCellDef="let data" class="text-right">
                    {{data?.unit_price | number}} ៛
                </td>
            </ng-container>

            <ng-container matColumnDef="qty">
                <th mat-header-cell *matHeaderCellDef class="text-right"> ចំនួន </th>
                <td mat-cell *matCellDef="let element" class="text-right"> {{element?.qty}} </td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef class="text-right"> សរុប </th>
                <td mat-cell *matCellDef="let data" class="text-right">
                    {{data?.unit_price * data.qty | number}} ៛
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="-pr-2">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="flex items-center justify-end gap-2">
    <button class="helpers-mat-button-md min-w-24" (click)="print()" [disabled]="downloading" mat-flat-button>
        @if(downloading) {
        <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
        }
        @else {
        <span>ទាញយក</span>
        }
    </button>
    <button class="helpers-mat-button-md" [class.helpers-mat-button-red]="!downloading" [disabled]="downloading" mat-flat-button
        [mat-dialog-close]="false">
        <span>បិទ</span>
    </button>
</mat-dialog-actions>
