<div mat-dialog-title class="custom-dialog-title">
    <span class="text-xl">Crop your image.</span>
</div>

<mat-dialog-content class="custom-dialog-content">
    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false" [aspectRatio]="4 / 3"
        format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"></image-cropper>
</mat-dialog-content>

<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="helpers-mat-button-md" mat-flat-button [mat-dialog-close]=" result ">
        <span>រក្សាទុក</span>
    </button>
    <button class="helpers-mat-button-md helpers-mat-button-red" mat-flat-button (click)="close()">
        <span class="text-white">បោះបង់</span>
    </button>
</mat-dialog-actions>
